/* style for scroll up arrow */
#back2Top {
    width: 40px;
    line-height: 40px;
    overflow:hidden;
    /* z-index: 999; */
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 20%;
    right: 0.5%;
    background-color: #DDD;
    color: rgb(228, 9, 9);
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}
#back2Top:hover {
    background-color: #DDF;
    color: #000;
}

